$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import 'colors.scss';


.page {
    padding: 6rem;
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vw;
    display: flex;
    justify-content: center;
}

.nodes {
    width: 500px;
    height: 500px;
    background-color: whitesmoke;
    //display: flex;
    //justify-content: center;
}

.content {
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 300px;
    width: auto;
    background-color: $simple--light-pink;
    border-radius: 10px;
}

.input-container {
    display: flex; 
    justify-content: center; 
}



.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    
}

.input {
    border: solid 1px white;
    border-radius: 4px;
    padding-left: 1rem;
}
.input:focus { outline: none; }
.input:active { outline: none; }


.button {
    color: white;
    margin-left: 0.5rem;
    background-color: $simple--pink;
    outline: none;
}

.button:focus { outline: none; }
.button:active { outline: none; }
.button:hover { 
    background-color: $simple--pink;
    color: white;
}

// .node-circle {
//     display: flex;
//     justify-content: center;
//     align-self: center;
// }

// .node-text {
//     display: flex;
//     justify-content: center; 
//     align-self: center;
// }